<div class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Total Count</label>
    <input type="number" class="form-control" id="totalCount" value="200">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Offset</label>
    <input type="number" class="form-control" id="offset" value="0">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="finished"> Finished?
    </label>
  </div>
  <button id="fetchButton" type="submit" class="btn btn-default fetchButton">Fetch</button>
</div>
