
<form>
  <div class="form-inline">
    <div class="form-group">
      <label for="exampleInputName2">Total Count</label>
      <input type="number" class="form-control" id="totalCount" value="200">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail2">Offset</label>
      <input type="number" class="form-control" id="offset" value="0">
    </div>
  </div>
  <div class="form-inline">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="finished"> Finished?
      </label>
    </div>
  </div>
  <div class="form-inline">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="hasChange"> Has Border Difference?
      </label>
    </div>
  </div>
  <div class="form-inline">
    <div class="radio">
      <label>
        <input type="radio" name="mapProvidersRadios" id="googleRadio" value="google" checked>
        Google
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="mapProvidersRadios" id="bingRadio" value="bing">
        Bing
      </label>
    </div>
  </div>
</form>
<button id="fetchButton" type="submit" class="btn btn-default fetchButton">Fetch</button>
