<form>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <h3>Is there a difference in any of the borders?</h3>
          <div>
            <label>
              <input type="radio" name="borderDifference" value="true">Yes 
            </label>
          </div>
          <div>
            <label>
              <input type="radio" name="borderDifference" value="false">No 
            </label>
          </div>
        <button id="submit-button" type="button" class="btn btn-default">Submit</button>
      </div>
    </div>
    <div class="col-md-6">
  </div>
</form>