<div>
  <h2>Purpose</h2>
  <p>
    We are researching how online map services alter (or "personalize") content depending on who is looking at it. In this case, we are specifically interested in the borders between countries, and whether different people are shown different borders. We are also interested in knowing how often the borders between countries are updated by online map services.
  </p>
  <h2>Instructions</h2>
  <p>
    You will be shown 11 pairs of map "tiles". Each pair of tiles shows the same geographic location, but the tiles may not be identical: there may be differences between them. In addition to static images of the two tiles, you will also be shown an animated gif of the tiles. We show the gif because it makes differences easier to locate.
  </p>
  <p>
    Your job is to examine the differences between the two tiles and tell us if the border between two countries has changed. Keep in mind that border differences can occur on land and at sea.
  </p>
  <h2>Things You May Ignore</h2>
  <p>
    In this study, we only care about differences in borders between countries. You may ignore other types of differences between the map tiles, such as:
    <ul>
      <li>Cartographic changes like mountains, forests, and bodies of water.</li>
      <li>The addition or removal of towns and roads.</li>
      <li>Changes to location names or languages.</li>
    </ul>
  </p>
</div>
<div>
  <button class="btn btn-primary" id="start-button">Start</button>
</div>