<div>
  <h2>Purpose</h2>
  <p>
    We are researching border personalization for different online map providers. Our goal is to see if these map providers are displaying different borders to different people. In addition to looking at the personalization of the borders, we are also trying to find when the borders are being updated.
  </p>
  <h2>Instructions</h2>
  <p>
    You will look at 11 tile pairs. Each pair is the same tile except one is an updated version of the other. For every pair, we will show you a gif of each tile and the two tiles next to each other. We show the gif because it makes any difference much easier to spot. Your job is to examine the differences between the two tiles and tell us if there is a border difference in the form.
  </p>
</div>
<div>
  <button id="start-button">Start</button>
</div>